@use '../abstracts/' as *;

/* Button start */

.btn {
	@extend %button;

	--btn-bg-clr: #{$clr-black-3};
}

.btn-dark {
	@extend %button;

	--btn-bg-clr: var(--clr-dark);
	--btn-text-clr: var(--clr-light);
}

.btn-light {
	@extend %button;

	--btn-bg-clr: var(--clr-light);
	--btn-text-clr: var(--clr-dark);
}

.btn-ghost-light {
	@extend %button;

	--btn-padding: #{$btn-padding-with-border};

	--btn-bg-clr: transparent;
	--btn-text-clr: var(--clr-dark);

	--btn-border-width: 4px;
	--btn-border-clr: var(--clr-dark);

	--btn-focus-outline-clr: var(--btn-text-clr, #{$clr-white});

	--btn-hover-filter-value: none;

	&:hover {
		--btn-text-clr: var(--clr-light);
		--btn-bg-clr: var(--clr-dark);
	}
}

.btn-ghost-dark {
	@extend %button;

	--btn-padding: #{$btn-padding-with-border};

	--btn-bg-clr: transparent;
	--btn-text-clr: var(--clr-light);

	--btn-border-width: 4px;
	--btn-border-clr: var(--clr-light);

	--btn-focus-outline-clr: var(--btn-text-clr, #{$clr-white});

	--btn-hover-filter-value: none;

	&:hover {
		--btn-text-clr: var(--clr-dark);
		--btn-bg-clr: var(--clr-light);
	}
}

.icon {
	@extend %icon;
}

.icon-mask {
	@extend %icon;

	background-color: var(--icon-btn-clr, currentColor);
	mask-image: url('/send.svg');
	mask-position: left;
	mask-repeat: no-repeat;
	mask-size: cover;
}

/* Button end */

