@use '../abstracts/' as *;

/* Header start*/

header {
	background-color: #{$clr-black};
	background-image: linear-gradient(62deg, $clr-red, $clr-blue);
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--clr-light);

	gap: var(--size-8) !important;

	--section-max-padding: var(--size-17);
	padding-block: $section-padding;

	@include mq(1600px) {
		--section-max-padding: var(--size-19);
	}

	& p {
		font-weight: var(--fw-normal);
	}
}

.container-header-logo {
	@include flex-center($dir: row, $gap: var(--size-10));
}

/* Header end*/

