@use '../abstracts/' as *;

/* Utils start */

.center-text {
	text-align: center;
}

.visually-hidden:not(:focus):not(:active) {
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.flex-center {
	@extend %flex-center;
}

/* Utils end */

